<% provide(:title, 'New SNS') %>
<h1>New SNS</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for [:admin, :user, @sns] do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <div class="field">
        <%= f.label :kind %>
        <%= f.select :kind, Sns::Kind.all.map {|s| [s.name, s.id] }, include_blank: false %>
      </div>
      <div class="field">
        <%= f.label :url %>
        <%= f.text_field :url %>
      </div>

      <%= f.submit "Create my skill", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
